<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="it.almaviva.openurlext" version="1.0.0">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>OpenUrlExt</name>
    <author>Paolo messina</author>
    <description>OpenUrlExt, light solution to open url externally in the hosting OS.</description>
    <license>MIT</license>
    <keywords>url, open, external, safari, chrome, ie, explorer</keywords>

    <js-module src="www/OpenUrlExt.js" name="OpenUrlExt">
        <clobbers target="OpenUrlExt" />
    </js-module>
    
    <!-- Android -->
  	<platform name="android">
      	<js-module src="www/OpenUrlExt.js" name="OpenUrlExt">
        	<runs/>
      	</js-module>
  	</platform>

	<!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OpenUrlExt">
                <param name="ios-package" value="OpenUrlExt"/>
            </feature>
        </config-file>
        <source-file src="ios/OpenUrlExt.m" />
        <header-file src="ios/OpenUrlExt.h" />
    </platform>
    
    <!-- windows -->
  	<platform name="windows">
		<js-module src="windows/OpenUrlExtProxy.js" name="OpenUrlExtProxy">
	  		<merges target="" />
		</js-module>
  	</platform>

</plugin>
