<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-queries-schemes" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>App Queries Strings</name>
    <author>Rob Hilgefort (http://rob.hilgefort.me)</author>
    <description>
      Cordova / PhoneGap Plugin to work arround Apple's iOS9 requirement that URL Schemes
      be declared and submitted to Apple (via Info.plist file)
    </description>
    <keywords>cordova, ios, app, queries, url, schemes, lsapplicationqueriesschemes</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
      <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
          <string>This app can read QR codes from camera or photo library for the purpose of adding a Ripple secret or reading a Ripple public address.</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
          <string>This app can read QR codes from camera or photo library for the purpose of adding a Ripple secret or reading a Ripple public address.</string>
      </config-file>
    </platform>
    </platform>
</plugin>
